/* :root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --menu-speed: 0.75s;
  --overlay-color: rgba(24, 39, 51, 0.84);
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #D8D8D8;

} */


/* nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
  background-color: #D8D8D8;
  font-family: 'Squada One', cursive;

  text-decoration: none;
  width: 100%;

} */

/* a {
  display: flex;
  text-decoration: none;
  width: 200px;
  font-size: 40px;
  color: black;
  font-weight: bold;


} */

/* a:hover {
  color: white;
} */

/* 

.contain {

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

} */






:root {
  --primary-color: rgb(172, 170, 170);
  --overlay-color: rgba(56, 56, 56, 0.85);
  --menu-speed: 0.75s;
  /* --neon-text-color: orange;
  --neon-border-color: red; */
  --neon-text-color: orange;
  --neon-border-color: purple;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply; */


}

body {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.4;


}

/* 
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
} */

.showcase {
  /* background: var(--primary-color);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #fff; */
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  /* background: url("https://img5.goodfon.com/wallpaper/nbig/6/1b/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-15.jpg"); */
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/794238861433329050/0BBF5155BAA4CF943C683701E86178CA3E25A84E/");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;


}

input[type=text] {

  width: 50%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: rgb(250, 250, 250);
  padding-left: 5px;
}

input:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

.controller-div {
  background-image: url("https://vignette.wikia.nocookie.net/contra/images/d/de/Konami_Code_-_03.jpg/revision/latest?cb=20180107233709")
}

/* 

button {

  transition: opacity 0.2s ease-in;
  width: 150px;
  height: 40px;
  margin: 3px;
  color: black;

  font-size: 17px;
  border: 2px solid black;
  border-radius: 7px;

  cursor: pointer;

} */

button:hover {
  opacity: 0.5;
}

.logo {
  text-align: center;
  width: 65%;
  height: 40px;
  margin: auto;
  position: absolute;
  user-select: none;

  top: 300px;
}

.logo b {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em red, 0 0 0.5em red, 0 0 0.1em red, 0 10px 3px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}




/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  /* background: url("https://thumbs.gfycat.com/ImaginativeNaiveIrishdraughthorse-size_restricted.gif"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/6/1b/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-15.jpg");
  background-position: center;
  background-attachment: fixed;

  animation: blink linear infinite 2s;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/*Text for GameHub when menu is clicked*/
.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: white;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em red, 0 0 0.5em red, 0 0 0.1em red, 0 10px 3px #000;
  padding: 1rem;
  font-display: swap;
  animation: blinktwo linear infinite 2s;
}


.menu-wrap .menu>div>div>ul>li:nth-of-type(2) {
  animation: blinktwo linear infinite 3s;
}

@keyframes blinktwo {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/*Background color for text*/
.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  background-color: rgb(68, 68, 68) hsl(0, 0%, 27%)
}

.menu-wrap .menu>div>div>ul>li>a:hover {

  opacity: 0.7;
}




.gamehub {
  font-size: 100px;
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: 400;
  font-display: swap;

}

#page-two {
  display: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

#api-div {
  background-color: rgb(172, 170, 170);

  text-align: center;
  /* position: relative;
  left: 500px; */

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/ef/e4/91/efe4911c1514bd6da486c87cab240f60.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.gameP {
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  position: relative;
  left: 0px;
  background-color: rgb(245, 241, 241);
  border: 1px solid black;


}

.game-img {
  position: relative;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: inherit;
  border: 1px solid black;



}

.summaryP {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(245, 241, 241);
  border: 1px solid black;
}

.each-game-div {
  margin: 10px;
  border: 1px solid black;
  width: 50%;
  position: relative;
  left: 25%;




}

@media only screen and (max-width: 327px) {
  h1 {
    font-size: 40px;
    position: relative;
    top: -100px
  }

  input[type=text] {
    width: 200px;
  }


}



@media only screen and (max-width:218px) {
  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width:360px) {
  .logo b {
    position: absolute;
    top: -90px;
    right: 1px;
  }
}

@media only screen and (max-width:375px) {

  input[type=text] {
    width: 300px;
    position: relative;
    top: -50px;
  }

  .logo b {
    text-align: center;
    width: 65%;
    height: 40px;
    margin: auto;
    position: absolute;
    user-select: none;
    right: 40px;
    top: -100px;
  }

  .menu-wrap .menu>div {
    background-size: cover;
    height: 900px;
    width: 900px;


  }

  .gamehub {
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center
  }

}